.footer {
    @extend %wrapper;

    &__heading {
        margin: 0;
    }

    &__item {
        padding: 40px 0 35px 0;
    }

    &__button {
        margin-bottom: 85px;
        width: 180.5px;
        height: 42px;
        border-radius: 20px;
        background-color: #070707;
        color: #fff;
    }

}

.social {
    @extend %flex-row;
    justify-content: space-between;
    max-width: 342px;
    height: 40px;
    margin: 0 auto;

    &__icon {
        max-height: 100%;
        max-width: 20%;
    }
}

svg {
    max-width: 100%;
    max-height: 40px;
}